<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
</head>

<body>

    <section class="extrato">
        <h2>Extrato</h2>

        <div class="saldo">
            <span>Saldo:</span>
            <span>R$ 1.000,00</span>
<!--             <button class="esconder" (click)="esconderSaldo()">Esconder</button>
 -->        </div>

        <div class="limite">
            <span>Limite:</span>
            <span>R$ 1.000,00</span>
        </div>

        <table class="historico">
            <thead>
                <tr>
                    <th>Data/hora</th>
                    <th>Operação</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20/03/2024 12:54:06</td>
                    <td>Depósito</td>
                    <td>Conta corrente</td>
                    <td></td>
                    <td>R$ 1.210,00</td>
                </tr>
                <tr>
                    <td>20/03/2024 12:54:06</td>
                    <td>Saque</td>
                    <td>Conta corrente</td>
                    <td></td>
                    <td style="color: red;">R$ -900,00</td>
                </tr>
                <tr>
                    <td>20/03/2024 12:54:06</td>
                    <td>Transferência</td>
                    <td>Conta corrente</td>
                    <td>Beltrano Silva</td>
                    <td>R$ 2.000,00</td>
                </tr>
            </tbody>
        </table>
    </section>


</body>



</html>