<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque</title>
</head>
<body>
    <main>

       
        <section class="top-section">
            <h1 class="title">Saque</h1>
            <fieldset class="saldo">
                <h2>Saldo: </h2> 
                <h4>R$1000,00</h4>  
                <div><small>Esconder</small></div>
            </fieldset>
            <small>Limite: R$1000,00</small>
        </section>
        

        <section class="middle-section">
            <h4>Informe o valor que deseja sacar:</h4>
            <fieldset class="input">
                R$ <input type="text" placeholder="__________________________" style="border: 0;" >
            </fieldset>
            <button class="button">Confirmar</button>
        </section>

    </main>
</body>
</html>