<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferência</title>
</head>
<body>
    <main>
        <section class="top-section">
            <h1 class="title">Transferência</h1>
            <fieldset class="saldo">
                <h2>Saldo: </h2> 
                <h4>R$1000,00</h4>  
                <div><small>Esconder</small></div>
            </fieldset>
            <small>Limite: R$1000,00</small>
        </section>

        <section class="input">
            <h4>Informe a conta de destino: </h4>
            <input type="text">
        </section>

        <section class="input">
            <h4>Informe o valor desejado: </h4>
           <strong>R$</strong><input type="text">
        </section>

        <button class="button">Enviar</button>
        
    </main>
</body>
</html>