<div class="container" style="padding-top: 15px">
  <h1 class="bantads-blue text-center">Clientes</h1>
  <div class="row justify-content-center" style="padding-top: 15px">
    <div class="col-4">
      <div class="input-group">
        <input
          class="form-control border-2"
          placeholder="Nome ou CPF"
          #input="ngModel"
          ngModel
          required
        />
        <button
          class="btn btn-secondary"
          type="button"
          [disabled]="input.errors"
          (click)="handlePesquisa()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div style="padding-top: 15px">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Saldo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.cpf | cpf }}</td>
          <td><a href="#" title="VEJA DADOS DE {{cliente.nome}}" (click)="abrirModalCliente($event, cliente)">{{ cliente.nome | caixaAlta }}</a></td>
          <td>{{ cliente.endereco?.cidade }}</td>
          <td>{{ cliente.endereco?.estado }}</td>
          <td>{{ cliente.saldo | currency:'BRL' }}</td>
          <td class="text-center">
            <button title="Expandir {{cliente.nome}}" type="button" class="btn btn-warning" (click)="abrirModalCliente($event, cliente)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="clientes.length === 0">Nenhum cliente encontrado.</p>
  </div>
</div>
