<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="container-blue">
            <div class="logo"> 
                <a href="#"><img src="../assets/logo.png" style="width: 136px; height: 80px;" /></a>
            </div>
            <h1>Bantads</h1>
            <div class="buttons"> 
                <a onclick="window.location.href='/autocadastro'" class="btn btn-primary">ABRA SUA CONTA</a>
                <a onclick="window.location.href='/login'" class="btn btn-secondary">LOGIN</a>
            </div>
        </div>
    </header>
    

    <section class="hero">
        <div class="container">
        </div>
    </section>

    <section class="beneficios">
        <div class="container">
            <h2>Vantagens e benefícios da nossa conta corrente</h2>

            <p>Com a conta corrente Bantads, você tem toda a comodidade do mundo e também toda a segurança do Bantads à
                sua disposição. Tenha acesso a produtos e serviços do BT, como cheque especial, PIX, cartão de crédito,
                empréstimos com taxas e prazos especiais, investimentos, seguros e muito mais.</p>

            <h2>Tudo na palma da sua mão</h2>


            <div class="row">
                <div class="block">
                    <h3>Rápido</h3>
                    <img src="../../assets/celular-rapido.png" alt="Imagem 1">
                    <p>Abra sua conta em poucos cliques e aproveite as vantagens assim que a conta for aprovada.</p>
                </div>
                <div class="block">
                    <h3>Prático</h3>
                    <img src="../../assets/celular-pratico.png" alt="Imagem 2">
                    <p>Faça tudo online, de qualquer lugar e em qualquer hora de um jeito super intuitivo.</p>
                </div>
                <div class="block">
                    <h3>Seguro</h3>
                    <img src="../../assets/seguro.png" alt="Imagem 3">
                    <p>Conte com a segurança que só o Banco do Brasil pode oferecer.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <section class="cta">
            <div class="container-footer">
                <h2>Abra sua conta agora mesmo! É rápido, fácil e seguro.</h2>             
                <p>&copy; 2024 Bantads. Todos os direitos reservados.</p>
            </div>
        </section>


    </footer>
</body>

</html>